{% extends "base.html" %} {% block content %}
<div class="login">
  <div class="login-screen">
    <div class="app-title">
      <h1>Sign Up</h1>
    </div>

    <div class="login-form">
      <div class="control-group">
        <input
          type="text"
          class="login-field"
          value=""
          placeholder="First Name"
          id=""
        />
        <label class="" for=""></label>
      </div>
      <div class="control-group">
        <input
          type="text"
          class="login-field"
          value=""
          placeholder="Last Name"
          id=""
        />
        <label class="" for=""></label>
      </div>

      <div class="control-group">
        <input
          type="text"
          class="login-field"
          value=""
          placeholder="Email"
          id="login-name"
        />
        <label class="" for=""></label>
      </div>

      <div class="control-group">
        <input
          type="password"
          class="login-field"
          value=""
          placeholder="Password"
          id=""
        />
        <label class="" for=""></label>
      </div>

      <div class="btns">
        <a class="btn" href="{{ url_for('login') }}">Login</a>
        <a class="btn" href="{{ url_for('signup') }}">Sign Up</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
